@import 'settings/conf';

// App
.app{
  // Screens
  .screen{
    // Splash screen
    &.splash{
      display: block;
      .title{font-size: 60px;}
    }
    // Main menu
    &.main-menu{
      .title{
        font-size: 46px;
        margin-bottom: $btnMargin * 2;
      }
      .btn{margin-bottom: $btnMargin;}
    }
  }
  // Overlays
  .overlay{
    // Options
    &.options{
      left: -100%;
      display: block;
      .close{
        width: 30px;
        height: 30px;
        top: $padding;
        right: $padding;
        position: absolute;
        &:after, &:before{
          left: 0;
          top: 50%;
          height: 10%;
          width: 100%;
          content: '';
          position: absolute;
          background-color: #fff;
          transform-origin: 50% 50%;
        }
        &:after{transform: translateY(-50%) rotate(45deg);}
        &:before{transform: translateY(-50%) rotate(-45deg);}
      }
      .btn{margin-bottom: $btnMargin;}
      .btn:last-of-type{margin-bottom: 0;}
    }
  }
}
