@import 'settings/conf';

// App
div.app{
  // Screens
  .screen{
    // Splash screen
    &.splash{
      display: block;
      .title{font-size: 60px;}
    }
    // Main menu
    &.main-menu{
      .title{
        font-size: 46px;
        margin-bottom: $btnMargin * 2;
      }
      .btn{margin-bottom: $btnMargin;}
    }
    // Game
    &.game{
      .open-menu{
        width: 30px;
        height: 25px;
        top: $padding;
        left: $padding;
        position: absolute;
        &:after, &:before{
          top: 0;
          left: 20%;
          width: 20%;
          height: 100%;
          content: '';
          position: absolute;
          background-color: #fff;
          transform-origin: 50% 50%;
        }
        &:before{
          right: 20%;
          left: initial;
        }
      }
      .text-container{
        margin-bottom: 5px;
        &.found-container{font-size: 16px;}
      }
      .choices{
        margin-top: 10px;
        .btn{
          word-break: break-word;
          margin-bottom: $btnMargin;
          text-transform: uppercase;
          &:last-of-type{margin-bottom: 0;}
        }
      }
    }
  }
  // Overlays
  .overlay{
    left: -100%;
    display: block;
    // Options
    &.options{
      .close{
        width: 30px;
        height: 30px;
        top: $padding;
        right: $padding;
        position: absolute;
        &:after, &:before{
          left: 0;
          top: 50%;
          height: 10%;
          width: 100%;
          content: '';
          position: absolute;
          background-color: #fff;
          transform-origin: 50% 50%;
        }
        &:after{transform: translateY(-50%) rotate(45deg);}
        &:before{transform: translateY(-50%) rotate(-45deg);}
      }
      .btn{margin-bottom: $btnMargin;}
      .btn:last-of-type{margin-bottom: 0;}
    }
    // Errors
    &.errors{
      .specification{
        display: none;
        margin-top: 15px;
        &.show{display: block;}
      }
      .btn{margin-bottom: $btnMargin;}
      .btn:last-of-type{margin-bottom: 0;}
    }
  }
}
