.app .screen.splash {
  display: block; }
  .app .screen.splash .title {
    font-size: 60px; }

.app .screen.main-menu .title {
  font-size: 46px;
  margin-bottom: 30px; }

.app .screen.main-menu .btn {
  margin-bottom: 15px; }

.app .screen.game .text-container {
  margin-bottom: 5px; }
  .app .screen.game .text-container.found-container {
    font-size: 16px; }

.app .screen.game .choices {
  margin-top: 10px; }
  .app .screen.game .choices .btn {
    word-break: break-all;
    margin-bottom: 15px;
    text-transform: uppercase; }
    .app .screen.game .choices .btn:last-of-type {
      margin-bottom: 0; }

.app .overlay.options {
  left: -100%;
  display: block; }
  .app .overlay.options .close {
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    position: absolute; }
    .app .overlay.options .close:after, .app .overlay.options .close:before {
      left: 0;
      top: 50%;
      height: 10%;
      width: 100%;
      content: '';
      position: absolute;
      background-color: #fff;
      transform-origin: 50% 50%; }
    .app .overlay.options .close:after {
      transform: translateY(-50%) rotate(45deg); }
    .app .overlay.options .close:before {
      transform: translateY(-50%) rotate(-45deg); }
  .app .overlay.options .btn {
    margin-bottom: 15px; }
  .app .overlay.options .btn:last-of-type {
    margin-bottom: 0; }
